:root{
    --red : 200;
}
thead{
    background-color: black !important;
    color:white !important;
}

tbody tr:nth-child(odd){
    background-color: rgb(200,200,200);
    color:black;
}
tbody tr:nth-child(even){
    background-color: rgb(150,150,150);
    color:black;
}
tbody tr:nth-child(odd):hover{
    transition: 500ms ease-in-out ;
    background-color:rgb(216, 116, 91);
    color:white;
}
tbody tr:nth-child(even):hover{
    transition: 500ms ease-in-out ;
    background-color: rgb(142, 226, 142);
    color:black;
}
td a{
    color: black;
}
td a:hover{
    font-size:115%;
    color:black;
    transition: 500ms ease-in-out ;
}
