{% extends 'base.html' %}
{%  load static %}
{% block additional_css %}
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock %}
{% block content %}




<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
                    <div class="row">
                        
                        <div class="heading-title text-center">
                            <h3 class="text-uppercase">Creators </h3>
                            <p class="p-top-30 half-txt">Here we are the Developers of Guest House Management Website </p>
                        </div>

                        <div class="col-md-4 col-sm-4">
                            <div class="team-member">
                                <div class="team-img">
                                    <img src="{% static 'images/atulsharma.jpeg' %}" alt="team member" class="img-responsive">
                                </div>
                                <div class="team-hover">
                                    <div class="desk">
                                        <h4>Hi There !</h4>
                                        <p>I love to introduce myself as a Full stack Web Designer.</p>
                                    </div>
                                    <div class="s-link">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-google-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-title">
                                <h5>Atul Sharma</h5>
                                <span>Model Designer</span>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="team-member">
                                <div class="team-img">
                                    <img src="{% static 'images/sandeep.jpeg' %}" alt="team member" class="img-responsive">
                                </div>
                                <div class="team-hover">
                                    <div class="desk">
                                        <h4>Hello World</h4>
                                        <p>I love to introduce myself as a BeckEnd Web Developer.</p>
                                    </div>
                                    <div class="s-link">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-google-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-title">
                                <h5>Sandeep Kumar</h5>
                                <span>Back End Developer</span>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="team-member">
                                <div class="team-img">
                                    <img src="{% static 'images/amk.jpeg' %}" alt="team member" class="img-responsive">
                                </div>
                                <div class="team-hover">
                                    <div class="desk">
                                        <h4>I like pogramming </h4>
                                        <p>I love to design and solve problems.</p>
                                    </div>
                                    <div class="s-link">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-google-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-title">
                                <h5>Aditya Mahakali</h5>
                                <span>Front End Developer</span>
                            </div>
                        </div>

                    </div>

                </div>




<div class="container">
<div class="row">
    <div class="heading-title text-center">
        <h3 class="text-uppercase"> Our Guide</h3>
        <p class="p-top-30 half-txt"></p>
    </div>

    <div class ="col-md-5 col-sm-1 ">
        <div class="team-member">
            <div class="team-img">
                <img src="{% static 'images/rrs.jpg' %}" alt="team member" class="img-responsive">
            </div>
            <div class="team-hover">
                <div class="desk">
                    <h4>Hi There !</h4>
                    <p>I am a professor at central university of rajasthan</p>
                </div>
                <div class="s-link">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-google-plus"></i></a>
                </div>
            </div>
        </div>
        <div class="team-title">
            <h5>Ravi Raj Choudhary Sir</h5>
            <span>Assistant Professor, Curaj</span>
        </div>
    </div>

</div>

</div>


{% endblock %}