{% extends 'base.html' %}
{%  load static %}
{% block additional_css %}
    <link rel="stylesheet" href="{% static 'css/room_detail.css' %}">
{% endblock %}

{% block content-title %}
<div class="jumbotron">
    <h1>{{ title }}</h1>
</div>

{% endblock %}
<!-- TODO Work on FrontEnd -->
{% block main-content %}
<div class="roomContainer">
    <div class = "Room">
        <label class = " RoomLabel">Room No: <span>{{ room.room_no }}</span></label>
    </div>
    <div class = "Room">
        <label class = " RoomLabel">Room Type: <span>{{ room.room_type.name }}</span></label>
    </div>
    <div class = "Room">
        <label class = " RoomLabel">Availability :<span>{% if room.availability %} Yes {% else %} No {% endif %}</span> </label>
    </div>
    <div class = "Room">
        <label class = " RoomLabel">Facilities:
            {% for facility in room.room_type.facility.all %} 
            <span>{{ facility.id }} {{ facility.name }}</span></br>
            {% endfor %}
        </label>
    </div>
    
</div>
  
{% endblock %}